<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">
      SkeletonAPP
    </ion-title>
    <p id="subtitulo">Aqui comienza todo</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenido!</strong>
    
  </div>
</ion-content>
<ion-item id="item">
  <ion-item>
    <ion-input label="Nombre Usuario" labelPlacement="floating"
      placeholder="Ingrese su Usuario"></ion-input>
  </ion-item>
</ion-item>
<ion-item id="contra">
  <ion-input label="Contraseña" type="password" labelPlacement="floating"
    placeholder="Ingrese su Contraseña">
  </ion-input>
</ion-item>
<ion-button id="boton">Ingresar</ion-button>
<ion-button fill="clear" id="clear"><u>crea tu cuenta gratis</u></ion-button>